/* Universal styling */

* {
    margin: 0px;
}



/* Variables */
:root {
    --ThemeColour: #6a994e;

}




/*
Header 
*/

.navigationbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: sans-serif;
    box-shadow: 10px;
    align-items: baseline;
    height: 33px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#logo {

    color: var(--ThemeColour);
}


#menu {

    display: flex;
    gap: 32px;
    text-decoration: none;
}

#menu a {
    text-decoration: none;

}

/*

Banner section Los-Angeles-CA.jpg
*/
.bannersection {
    background: url(images/Los-Angeles-CA.jpg) right bottom no-repeat;
    width: 100%;
    height: 370px;

}

#searchbox {
    width: 40%;
    height: 70%;
    background-color: white;
    margin: auto;
    font-family: sans-serif;
    position: relative;
    top: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#searchbox h2 {
    text-align: center;
    padding: 20px;
}


.filterOptions {
    margin: auto;
    text-align: center;
    padding: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 49%);
}

input {
    padding: 7px;
    font-family: sans-serif;
    font-size: 18px;
}

select {

    padding: 7px;
    font-family: sans-serif;
    font-size: 18px;
}

input:focus {
    background-color: lightblue;

}

#searchbutton {

    padding: 7px;
    font-family: sans-serif;
    font-size: 18px;

    width: 94%;
}

#centerbutton {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}


/* Feature Property       text-shadow: 2px 1px 3px #000000; */

.featuredproperty h2 {
    text-align: center;

    margin: 45px;
    font-family: sans-serif;
    color: var(--ThemeColour);
    font-size: 34px;

}

.featuredTheProperties {
    display: grid;
    grid-template-columns: repeat(4, 302px);
    gap: 20px;
    margin: auto;
    font-size: 14px;

}

.centerProperty {
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.PropertyItem {
    border: 1px solid black;

}

.description-item button {
    padding: 10px;
    cursor: pointer;
    background-color: var(--ThemeColour);

}

.description-item p {
    padding: 5px;
}

.description-item {
    padding: 6px;

}

.contact-box-footer {
    width: 80%;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    padding: 20px;
    margin-top: 40px;
}

.contact-box-footer ul {
    list-style-type: none;
    padding: 10px;


}

.contact-box-footer ul li {
    list-style-type: none;
    padding: 10px;
    cursor: pointer;

    font-family: Helvetica;


}

.footerInformation {
    display: flex;
    gap: 13%;
}

/*
CONTACT PAGE 

    */

.contact-box {
    width: 80%;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    padding: 20px;
    margin-top: 40px;
}

.grid-contact {
    display: grid;
    grid-template-columns: auto auto;
    gap: 12px;
}